<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>文章标注系统</title>
  <link rel="stylesheet" href="elementui/theme-chalk/index.css">
  <script src="elementui/vue.js"></script>
  <script src="elementui/index.js"></script>
</head>
<body>
<div id="app" class="full-height">
  <el-container class="full-height">
    <el-header height="50px" class="no-select">
      <h1> 文章标注系统</h1>
    </el-header>
    <el-main class="full-height">
      <div style="height:50px;" class="no-select">
        <el-row>
          <el-col :span="6">
            <span style="margin-right:20px;">请选择数据文件</span>
            <el-button type="primary" size="small" icon="el-icon-upload" :loading="uploading" @click="selectFile">
              &nbsp;上 传&nbsp;
            </el-button>
            <el-tag v-if="articleList && articleList.length>0" size="mini">共{{articleList.length}}条</el-tag>
          </el-col>
          <el-col :span="18">
            <el-form :inline="true" class="demo-form-inline" size="small">
              <el-form-item label="开启标注">
                <el-switch v-model="markStatus"></el-switch>
              </el-form-item>
              <el-form-item label="标注颜色">
                <el-color-picker v-model="markColor" @change="setMarkColor" :disabled="true"></el-color-picker>
              </el-form-item>
              <el-form-item label="标注人">
                <el-input v-model="markUserId" placeholder="请填写标注人ID"></el-input>
              </el-form-item>
              <el-form-item label="清空标注">
                <el-button type="danger" size="small" icon="el-icon-close" @click="clearMark">清空标注</el-button>
              </el-form-item>
              <el-form-item>
                <el-button type="success" size="small" icon="el-icon-download" @click="download">导出标注JSON数据</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
      </div>
      <el-row style="height: calc(100% - 70px);" :gutter="20">
        <el-col :span="6" class="full-height" class="no-select">
          <div class="full-height">
            <el-table height="100%" :data="articleList" highlight-current-row border stripe size="mini"
                      style="user-select:none;"
                      @row-click="showArticle">
              <el-table-column type="index" width="50"></el-table-column>
              <el-table-column prop="ridx" label="ID" min-width="50">
                <span class="pointer" slot-scope="scope">
                  {{scope.row.ridx}}
                </span>
              </el-table-column>
              <el-table-column prop="title" show-overflow-tooltip label="内容摘要" min-width="120">
                <span class="pointer" slot-scope="scope">
                  {{scope.row.title}}
                </span>
              </el-table-column>
            </el-table>
          </div>
        </el-col>
        <el-col :span="18" class="full-height">
          <el-row class="full-height" style="padding-bottom:5px;" :gutter="20">
            <el-col :span="16" class="full-height">
              <div class="el-card box-card is-always-shadow full-height">
                <div class="el-card__header">
                  <div class="clearfix">
                    <span class="no-select">内容</span>
                    <template v-if="article">
                      <el-tag v-for="item of article.crime" :key="article.ridx+'_'+item" size="mini" effect="dark"
                              style="margin-left:5px;">
                        {{item}}
                      </el-tag>
                    </template>
                  </div>
                </div>
                <div class="el-card__body" style="height:calc(100% - 98px);">
                  <div id="editable-text" class="full-height" style="line-height:200%;"
                       @mouseup="highlightSelectedText">
                    <template v-if="article">
                      <div id="article-html" @click="removeSpan" v-html="article.markHtml" class="full-height" style="overflow-y: auto;"></div>
                    </template>
                  </div>
                </div>
              </div>
            </el-col>
            <el-col :span="8" class="full-height">
              <div class="el-card box-card is-always-shadow full-height">
                <div class="el-card__header">
                  <div class="clearfix no-select"><span>标注</span></div>
                </div>
                <div class="el-card__body" style="height:calc(100% - 98px);">
                  <div id="jsonContent" class="full-height no-select" style="line-height:200%;font-size: 13px;overflow-y: auto;">
                    <template v-if="article">{{article.markResult}}</template>
                  </div>
                </div>
              </div>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-main>
    <input ref="file" type="file" style="display:none" @change="uploadChange">
  </el-container>
</div>
</body>
<style>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .full-height {
    height: 100%;
  }

  .pointer {
    cursor: pointer;
  }

  #editable-text > div::selection {
    background-color: #ffff00;
  }

  .no-select {
    user-select: none;
  }

</style>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                markStatus: true,
                uploading: false,
                articleList: [],
                article: null,
                markColor: '#ffff00 ',
                markUserId: null,
                markData: null
            }
        },
        methods: {
            showArticle(row, column, event) {
                this.article = row
            },
            selectFile() {
                if (this.$refs.file) {
                    this.$refs.file.value = null
                }
                this.$refs.file.click()
            },
            uploadChange() {
                if (this.$refs.file.files && this.$refs.file.files.length > 0) {
                    this.uploading = true
                    const file = this.$refs.file.files[0]
                    const reader = new FileReader()
                    // 定义当文件读取结束时的回调函数
                    reader.onload = () => {
                        const list = []
                        const text = reader.result
                        const arrs = text.split("\n")
                        for (const arr of arrs) {
                            const item = JSON.parse(arr.trim())
                            item.title = item.q ? item.q.substring(0, 50) : null
                            item.markHtml = item.q
                            item.markResult = item.q
                            list.push(item)
                        }
                        this.articleList = list
                        this.uploading = false
                    }
                    reader.readAsText(file)
                }
            },
            highlightSelectedText() {
                const selection = window.getSelection()
                if (selection.toString() !== '') {
                    if (this.markStatus) {
                        const range = selection.getRangeAt(0)
                        const newNode = document.createElement('span')
                        newNode.style.backgroundColor = this.markColor
                        newNode.style.cursor = 'pointer'
                        newNode.appendChild(range.extractContents())
                        range.insertNode(newNode)
                        this.updateMarkData()
                    }
                    selection.removeAllRanges()
                }
            },
            clearMark() {
                this.article.markHtml = this.article.q
                document.getElementById('article-html').innerHTML = this.article.markHtml
                this.updateMarkData()
            },
            setMarkColor() {
                var style = document.createElement('style')
                var change = document.createTextNode('#editable-text>div::selection{background-color:' + this.markColor + ';}')
                style.appendChild(change)
                document.body.appendChild(style)
            },
            updateMarkData() {
                // 获取dom 整理span标签合并
                const articleDom = document.getElementById('article-html')

                // 第一步清除空白textnode
                for (let i = 0; i < articleDom.childNodes.length; i++) {
                    const node = articleDom.childNodes[i]
                    if (node.nodeType === Node.TEXT_NODE && !/\S/.test(node.nodeValue)) {
                        node.remove()
                    }
                }

                let spans = articleDom.querySelectorAll('span')
                // 合并相邻节点
                for (let i = 0; i < spans.length; i++) {
                    const currentSpan = spans[i];
                    if (currentSpan.textContent == '') {
                        currentSpan.remove()
                        i--;
                        continue
                    }
                    currentSpan.innerHTML = currentSpan.textContent
                    // 当前节点
                    if (i < spans.length - 1) {
                        const nextSpan = spans[i + 1];
                        if (nextSpan && nextSpan.previousSibling === currentSpan) { // 判断是否为相邻节点
                            currentSpan.innerHTML = currentSpan.textContent + nextSpan.textContent // 合并文本内容
                            nextSpan.remove()
                            i--
                        }
                    }
                }
                this.article.markHtml = articleDom.innerHTML
                // 复制节点
                const markFormat = articleDom.cloneNode(true)
                // 移除span的style
                spans = markFormat.querySelectorAll('span')
                for (const span of spans) {
                    span.removeAttribute('style')
                }
                this.article.markResult = markFormat.innerHTML
            },
            download() {
                const json = {
                    task_id: this.article.ridx,
                    doc_type: 'query',
                    html: this.article.markResult,
                    user: this.markUserId
                }
                const element = document.createElement('a');
                element.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(JSON.stringify(json)))
                element.setAttribute('download', 'highlights_' + this.article.ridx + '.json')
                element.style.display = 'none'
                document.body.appendChild(element)
                element.click()
                document.body.removeChild(element)
            },
            removeSpan(e) {
                const spanElement = e.target
                if (spanElement != null && spanElement.nodeName.toUpperCase() == 'SPAN') {
                    const textContent = document.createTextNode(spanElement.textContent)
                    spanElement.replaceWith(textContent)
                    this.updateMarkData()
                }
            }
        }
    })
</script>
</html>
